[flake8]
max-line-length = 88
extend-ignore =
    E203,  # whitespace before ':' (often conflicts with Black)
    W503,  # line break before binary operator
exclude =
    .venv/,
    .dvc/,
    work/,
    logs/
